# VS Code config folder
.vscode/

# python stuff
*.egg-info/
__pycache__

# typing
.mypy_cache/

.pytest_cache/

# virtualenvs
venv/
.venv/

# flask instance config
instance/

# local sqlite database
data/

cache.*
*.csv
.env

.coverage
.ruff_cache/