[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[scripts]
format = "black votey"
install-hooks = "pre-commit install --install-hooks"
lint = "./scripts/lint.sh"
pre-commit = "pre-commit run --all-files"
start = "python run.py"
test = "pytest tests"

[dev-packages]
black = "*"
flake8 = "<3.9"
flask-sqlalchemy-stubs = {git = "https://github.com/ssfdust/flask-sqlalchemy-stubs.git"}
mypy = "*"
pre-commit = "*"
prospector = {extras = ["with_bandit"], version = "*"}
python-dotenv = "*"
sqlalchemy-stubs = "*"
pytest = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
gunicorn = "*"
psycopg2-binary = "*"
requests = "*"
sqlalchemy = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[black]
allow_prereleases = true
